#net_ctr {
  width: 2fr;
  height: 1fr;
  border: round $primary;
  overflow: auto;
  padding: 1 2;
  margin: 1 1 1 2;
}

#crt_net_ctr {
  width: 1fr;
  border: round $primary;
  padding: 1 2;
  margin: 1 2 1 1;
}